*.logs
/output
/output_PHI
/output_to_BOX
.pyc
.DS_*
clif_config.json
*.py.json
*.js
*.pyc
*.html
*.log
*.phi
phi/
clif_config_nu.json
clif_config_ucmc.json
output_to_BOX_nu/
output_to_BOX_ucmc/
phi_nu/
phi_ucmc/